.chbi-projects-container {
  color: #F4F5FA;

  .chbi-projects-header {
    font-size: 1.5rem;
  }

  .chbi-project-display-card-parent {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .chbi-project-display-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (min-width: 1320px) {
  .chbi-project-display-card-container {
    flex-wrap: nowrap;
  }
}