.main-information-portfolio {
  width: 85%;
  margin-top: 16px;
  height: auto;
  background-color: #03083A;
  border: 5px solid white;
  border-radius: 10px;
  color: white;
}

.hobbies {
  list-style: none;
}

.currently-equipped-icons {
  margin-top: 0.5rem;
}

.main-information-header {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.second-row-container {
  display: flex;
  gap: 2rem;
}

.years-of-experience-container {
  margin-left: 0.5rem;
}


.first-row-icons-container {
  display: flex;
  gap: 1rem;
}

.years-of-exp {
  padding-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .main-information-portfolio {
    height: auto;
  }

  .second-row-container {
    display: flex;
    gap: 1rem;
  }

  .first-row-icons-container {
    display: flex;
    gap: 1rem;
  }
  
}

.currently-equipped-icons {
  display: flex;
  flex-wrap:wrap;
  gap: 1.1rem;
}

.special-abilities-container, .hobbies-and-fun-container, .currently-equipped-container {
  padding: 0.5rem;
}