.main-information-portfolio {
  width: 85%;
  margin-top: 16px;
  height: 902px;
  background-color: #2919E4;
  border: 5px solid white;
  border-radius: 10px;
  color: white;
}

@media screen and (min-width: 768px) {
  .main-information-portfolio {
    height: auto;
  }
}

.special-abilities-container, .hobbies-and-fun-container, .currently-equipped-container {
  padding: 0.5rem;
}