.about-portfolio-section {
  width: 85%;
  margin-top: 16px;
  background-color: #03083A;
  border: 5px solid white;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
}

.about-portfolio-container {
  display: flex;
  gap: 1rem;
  align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.about-portfolio-img-container {
  flex: 1;
}

.about-portfolio-text-container {
  flex: 2;
}

.about-portfolio-announcement {
  margin: 1rem;
}

.about-text,
.portfolio-announcement-text {
  line-height: 1.6;
}



