
.chbi-about-section {
  color: 	#F4F5FA;
  display: flex;
  flex-direction: column;

  .chbi-greeting-about {
    font-size: 2.5rem;
    color: 	#F4F5FA
  }

  .chbi-greeting-about-container {
    .chbi-greeting-intro {
      font-size: 1.25rem;
    }
  }

  .chbi-button-container {
    display: flex;
    justify-content: center;
    gap: 20px;

    svg {
      height: 70px;
      color: #F4F5FA;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .chbi-about-section {
    .chbi-greeting-about {
      font-size: 6rem;
    }

    .chbi-greeting-about-container {
      .chbi-greeting-intro {
        font-size: 3rem;
      }
    }

    .chbi-button-container {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }
  
}