.chbi-intro-container {
  color: 	#F4F5FA;
  margin-top: 32px;

  .chbi-intro-text {
    font-size: 2rem;
  }

  .chbi-intro-information {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .chbi-intro-container {
  color: 	#F4F5FA;
  margin-top: 64px;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .chbi-intro-text {
    font-size: 3rem;
  }

  .chbi-intro-information {
    font-size: 1.75rem;
  }
}
}