.chbi-skills-container {
  .chbi-skills-title {
    font-size: 48px;
    color: #b3efff;
    margin-bottom: 8px;
  }

  .chbi-skills-paragraph {
    color: #b3efff;
    font-size: 32px;
  }

  .chbi-skills-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.35fr 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 0px;
    color: #FFFFFF;

    .chbi-skills-grid-title {
      font-weight:800;
    }

    .chbi-skills-grid-content {
      grid-area: 2 / 1 / 3 / 2;
      font-weight: none;
    }

    .chbi-skills-grid-libraries-content {
      grid-area: 2 / 2 / 3 / 3; 
      font-weight: none;
    }
  }
}