.chbi-navbar {
  .chbi-nav-container {
    display: flex;
    justify-content: space-between;

    .chbi-logo-container {
      display: flex;
      align-items: center;
      
      h1 {
        color: white;
        font-size: 2.5rem;
        margin: 0;
      }
    }
    .chbi-mobile-icon {
      display: flex;
      align-items: center;

      
      svg {
        color: #F4F5FA;
        height: 40px;
      }
    }
  }

  .chbi-nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    width: 0;
    height: calc(100vh - 60px);
    transition: transform 0.3s ease-in;
    overflow: hidden; 
    background-color: #F4F5FA;

    .chbi-mobile-exit { 
      display: flex;
    justify-content: end;
    margin-right: 16px;
    height: 5%;
    align-items: center;

    svg {
      height: 30px;
    }
    }
  }

  .chbi-nav-elements.active {
    width: 270px;
  }

  .chbi-nav-elements ul {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .chbi-nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
    font-size: 2rem;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 2rem;
  }
}

@media screen and (min-width:768px) {
  .chbi-navbar {

    .chbi-nav-container {
      display: flex;
      justify-content: space-around;
  
      .chbi-logo-container {
        display: flex;
        align-items: center;
        
        // h1 {
        //   display: none;
        // }
      }
      .chbi-mobile-icon {
        display: flex;
        align-items: center;
  
        
        svg {
          color: #F4F5FA;
          height: 40px;
        }
      }
    }
    .chbi-nav-elements {
      position: relative;
      width: auto;
      height: auto;
      background: transparent;
      overflow:visible;
      top: 0;
    }
  
    .chbi-nav-elements ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      font-size: 1.5rem;
    }
  
    .chbi-nav-elements ul li {
      margin-right: 16px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .chbi-mobile-icon, .chbi-mobile-exit {
      svg {
        display: none;
      }
    }
  }
} 

